.product {
  font-family: 'Montserrat';
  text-align: center;
  background-color: #7E30E1;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 20px;
}