.producto__boton{ 
    background-color: chocolate;
    border: none;
    border-radius: 15px 0 ;
    color: aliceblue;
    padding: 0.8rem;
}
.producto__boton:hover{ 
    cursor: pointer;
    background-color: brown;
    color: cadetblue;
}